@import url('https://fonts.googleapis.com/css?family=Overpass'); // -----------------------------------------------------------------------------
// Header
// -----------------------------------------------------------------------------

header {
  height: 100vh;
  color: #eee;
  font-family: 'Overpass', sans-serif !important;
  position: relative;

  .wave {
    background-image: url("../assets/white-split.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: -1px;
    height: 10%;
    width: 100%;
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      font-size: 96pt;
      margin: 0;
    }

    p {
      font-size: 20pt;
      margin: 0;
    }
  }
}
// -----------------------------------------------------------------------------
// Features
// -----------------------------------------------------------------------------

.features {
  background-color: white;
}
// -----------------------------------------------------------------------------
// Fisrt set of features
// -----------------------------------------------------------------------------

.simpleFetures {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .blob {
    background-image: url("../assets/Blob.svg");
    width: 220px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
      padding: 20px;
      color: white;
    }
  }

  .two {
    margin-top: 200px;
  }
}
@media only screen and (max-width: 439px) {
  .two {
    margin-top: 0 !important;
  }
}

.docs-grid {
  display: grid;
  grid-template-columns: auto auto;

  .left {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px;
  }
}