@import url('https://fonts.googleapis.com/css?family=Overpass');

header {
  height: 100vh;
  background: rgb(42,250,223);
  background: linear-gradient(210deg, rgba(42,250,223,1) 0%, rgba(76,131,255,1) 100%);
  color: #eee;
  font-family: 'Overpass', sans-serif !important;

  .wave {
    background-image: url("../assets/white-split.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: -1px;
    height: 10%;
    width: 100%;
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      font-size: 96pt;
      margin: 0;
    }

    p {
      font-size: 20pt;
      margin: 0;
    }
  }
}

.simpleFetures {
  display: flex;
  justify-content: space-evenly;

  height: 400px;

  .blob {
    background-image: url('../assets/Blob.svg');

    width: 200px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    .text {
      padding: 20px;

      color: white;
    }
  }

  .two {
    margin-top: 200px;
  }
}

.features {
  height: 100vh;
}

.borderMarker {
  position: relative;
  color: black;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 70%;
    left: -0.1px;
    right: -0.1px;
    bottom: 0;
    transition: top 0.1s ease-in-out;
    background-color: rgba(76,131,255, 0.5);
  }

  &:hover::after {
    top: 0;
  }
}